<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377835378920-0ontjnkn5b70orcj2vgr28gu9gl0i3h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377835378920-0ontjnkn5b70orcj2vgr28gu9gl0i3h9</string>
	<key>API_KEY</key>
	<string>AIzaSyABEq0wRCrMbYbHUXpBZ6rvY5juKJkxsvY</string>
	<key>GCM_SENDER_ID</key>
	<string>377835378920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.RealTimeChat</string>
	<key>PROJECT_ID</key>
	<string>gameofchats-19cf2</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchats-19cf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377835378920:ios:e0bd3ffd6f629aca96115d</string>
</dict>
</plist>